<h1>Event Search</h1>

{{!-- <span>{{keywords}}</span> --}}

<form onsubmit={{action "searchForEvents"}}>
  {{input type="text" value=keywords id="search-input"}}
  <button type="submit" id="search-button">Search</button>
</form>

<ul>
  <li>
    {{#link-to "contact"}}
      Contact
    {{/link-to}}
  </li>
  <li>
    {{#link-to "about"}}
      About
    {{/link-to}}
  </li>
</ul>

{{outlet}}