{{name}}
<br>
Input 1 (two way data binding):
{{input type="text" value=name}}
<br>

Input 2 (DDAU):
<input type="text" value={{name}} oninput={{action "setName" value="target.value"}}>
<br>
<hr>

{{isFavorited}}

{{favorite-button
  favorited=isFavorited
  onclick=(action "favorite")}}

{{something}}
{{log (action (mut something))}}
